{% macro render_table(list,headers=None,key_name=True,links=None,pagination=None) %}
<div class="table-responsive">
    <table class="table table-striped table-sm">
        {% if headers %}
        <thead>
        <tr>
            {% for col in headers %}
            <th>{{ col }}</th>
            {% endfor %}
            {% if links %}
            <th>{{ _('Settings') }}</th>
            {% endif %}
        </tr>
        </thead>
        {% endif %}
        <tbody>
        {% for row in list %}
        <tr>
            <td>{{ row[1].key.decode("utf-8") }}</td>
            {% if row[0] is mapping %}
            {% for col in row[0] %}
            <td>{{ row[0].get(col) }}</td>
            {% endfor %}
            {% else %}
            <td>{{ row[0] }}</td>
            {% endif %}
            {% if links %}
            <td>
                {% for link in links %}
                <a href="{{ link.get('link') }}?key={{row[1].key.decode('utf-8')}}"
                   class="btn btn-outline-{{ link.get('type') }} btn-sm">{{ link.get('name') }}</a>
                {% endfor %}
            </td>
            {% endif %}
        </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if pagination %}
    {% set page_number =  pagination.get('page') | int %}
    {% set extra =  pagination.get('extra') %}
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <li class="page-item {% if page_number == 1 %}disabled{% endif %}">
                <a class="page-link" href="?page={{ page_number -1 }}{{ pagination.get('extra') }}" tabindex="-1">Previous</a>
            </li>
            {% for number in range(pagination.get('start') | int, (pagination.get('end') | int) + 1) %}
            <li class="page-item {% if number == page_number %}active{% endif %}"><a class="page-link" href="?page={{ number }}{{ pagination.get('extra') }}">{{ number }}</a></li>
            {% endfor %}
            <li class="page-item {% if page_number == pagination.get('total_page') | int %}disabled{% endif %}">
                <a class="page-link" href="?page={{ page_number+1 }}{{ extra }}">Next</a>
            </li>
        </ul>
    </nav>
    {% endif %}
</div>

{% endmacro %}