{% extends "main_template.html" %}
{% import "utils/table.html" as table %}
{% import "utils/buttons.html" as buttons %}
{% block scripts %}
{{ super() }}
<script type="text/javascript">
    $(function () {
        $('input[id^="autocomplete"]').keyup(function () {
            let field = $(this);
            let extra_url = '';
            let extra = field[0].attributes.getNamedItem("extra");

            if (extra) {
                extra_url = '?service=' + $('#' + extra.value).val()
            }

            // if (field.val().split('.').length > 1) {
            $.ajax({
                url: "{{ url_for('autocomplete') }}/" + $(this)[0].id + "/" + field.val() + extra_url
            }).done(function (data) {
                field.autocomplete({
                    select: function (event, ui) {
                        const rep_field = this;
                        $.grep(data, function (element, index) {
                            if (element.label === ui.item.value) {
                                $('#' + rep_field.id.replace('autocomplete_', '')).val(element.value)
                            }
                        });
                    },
                    source: function (request, response) {
                        var return_data = new Array();
                        $.each(data, function (index, item) {
                            if (jQuery.type(item) == 'string') {
                                return_data.push(item);
                            } else {
                                return_data.push(item.label);
                            }

                        });
                        response(return_data);
                    },
                    minLength: 2
                });
            });

            // }
        });


        $('#deleteModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget)
            var url = button.data('url')

            var modal = $(this)
            modal.find('.modal-footer a').attr("href", url)
            modal.find('.modal-body #key').text(url.split("?key=")[1])

        });
    });
</script>
{% endblock %}


{% block main_header %}
{{ main_header }}
{% endblock %}
{% block button_list %}
{{buttons.render_buttons(button_list)}}
{% endblock %}

{% block in_page %}


<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">{{ _('Delete') }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">{{ _('Do you want to delete this key?') }}
                <div id="key" class="alert alert-danger" role="alert"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">{{ _('No') }}</button>
                <a href="#delete" id="delete" class="btn btn-danger btn-sm">{{ _('Yes') }}</a></div>
        </div>
    </div>
</div>

{% if form %}
{{ wtf.quick_form(form) }}
{% endif %}
{{ table.render_table(list,headers,links=links,pagination=pagination) }}
{% endblock %}